.classpath
.project
proguard-project.txt
project.properties
__resources/Compass.ai
__resources/compass_arrow.psd
__resources/compass_body.psd
__resources/icon_256.png
__resources/icon_256_green.png
__resources/kdc_arrow.png
__resources/qibla_arrow.psd
bin/AndroidManifest.xml
bin/classes.dex
bin/jarlist.cache
bin/R.txt
bin/resources.ap_
bin/classes/android/support/v7/appcompat/R$anim.class
bin/classes/android/support/v7/appcompat/R$attr.class
bin/classes/android/support/v7/appcompat/R$bool.class
bin/classes/android/support/v7/appcompat/R$color.class
bin/classes/android/support/v7/appcompat/R$dimen.class
bin/classes/android/support/v7/appcompat/R$drawable.class
bin/classes/android/support/v7/appcompat/R$id.class
bin/classes/android/support/v7/appcompat/R$integer.class
bin/classes/android/support/v7/appcompat/R$layout.class
bin/classes/android/support/v7/appcompat/R$string.class
bin/classes/android/support/v7/appcompat/R$style.class
bin/classes/android/support/v7/appcompat/R$styleable.class
bin/classes/android/support/v7/appcompat/R.class
bin/classes/ap/mobile/prayertimes/AboutFragment.class
bin/classes/ap/mobile/prayertimes/BuildConfig.class
bin/classes/ap/mobile/prayertimes/MainActivity.class
bin/classes/ap/mobile/prayertimes/MainFragment$1.class
bin/classes/ap/mobile/prayertimes/MainFragment.class
bin/classes/ap/mobile/prayertimes/R$anim.class
bin/classes/ap/mobile/prayertimes/R$attr.class
bin/classes/ap/mobile/prayertimes/R$bool.class
bin/classes/ap/mobile/prayertimes/R$color.class
bin/classes/ap/mobile/prayertimes/R$dimen.class
bin/classes/ap/mobile/prayertimes/R$drawable.class
bin/classes/ap/mobile/prayertimes/R$id.class
bin/classes/ap/mobile/prayertimes/R$integer.class
bin/classes/ap/mobile/prayertimes/R$layout.class
bin/classes/ap/mobile/prayertimes/R$menu.class
bin/classes/ap/mobile/prayertimes/R$string.class
bin/classes/ap/mobile/prayertimes/R$style.class
bin/classes/ap/mobile/prayertimes/R$styleable.class
bin/classes/ap/mobile/prayertimes/R.class
bin/classes/ap/mobile/prayertimes/adapters/PrayerTimesAdapter$ViewHolder.class
bin/classes/ap/mobile/prayertimes/adapters/PrayerTimesAdapter.class
bin/classes/ap/mobile/prayertimes/base/Prayer.class
bin/classes/ap/mobile/prayertimes/base/UserLocation.class
bin/classes/ap/mobile/prayertimes/interfaces/CalculatePrayerTimesInterface.class
bin/classes/ap/mobile/prayertimes/tasks/CalculatePrayerTimesTask.class
bin/classes/ap/mobile/prayertimes/utilities/DateHijri.class
bin/classes/ap/mobile/prayertimes/utilities/GPSTracker$1.class
bin/classes/ap/mobile/prayertimes/utilities/GPSTracker$2.class
bin/classes/ap/mobile/prayertimes/utilities/GPSTracker.class
bin/classes/ap/mobile/prayertimes/utilities/LocationHelper.class
bin/classes/ap/mobile/prayertimes/utilities/PrayTime.class
bin/classes/ap/mobile/prayertimes/utilities/PrayTimeMathHelper.class
bin/classes/ap/mobile/prayertimes/utilities/PrayTimeTimezoneHelper.class
bin/classes/ap/mobile/prayertimes/utilities/Qibla.class
bin/classes/ap/mobile/prayertimes/views/Compass.class
bin/dexedLibs/android-support-v4-7b10cade298b80613db4978375ab2ff8.jar
bin/dexedLibs/android-support-v7-appcompat-15fb2bb6c560a8d5e03fa70172338479.jar
bin/dexedLibs/android-support-v7-appcompat-dbb5ebb529c89652fccba546bcae407a.jar
bin/res/crunch/drawable-xhdpi/compass_arrow.png
bin/res/crunch/drawable-xhdpi/compass_body.png
bin/res/crunch/drawable-xhdpi/qibla_arrow.png
bin/res/crunch/drawable-xxhdpi/logo_labmobile.png
bin/res/crunch/drawable-xxhdpi/logo_ptiik.png
bin/res/crunch/drawable-xxhdpi/moonstar.png
gen/android/support/v7/appcompat/R.java
gen/ap/mobile/prayertimes/BuildConfig.java
gen/ap/mobile/prayertimes/R.java
__resources/MoonStar.ai
__resources/moonstar.png
__resources/Moonstar.psd
__resources/Red_star.svg
bin/classes/ap/mobile/prayertimes/MethodPreferenceActivity.class
bin/classes/ap/mobile/prayertimes/MethodPreferenceFragment.class
bin/classes/ap/mobile/prayertimes/R$array.class
bin/classes/ap/mobile/prayertimes/R$xml.class
bin/classes/ap/mobile/prayertimes/utilities/PrayTimeOriginal.class
bin/classes/ap/mobile/prayertimes/interfaces/LocationInterface.class
bin/classes/ap/mobile/prayertimes/tasks/LocationTask.class
